<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Invoice home page</title>
  <link rel="stylesheet" href="../static/home.css">
</head>


<body>
  <h1>Hello World!!</h1>
    
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    
    <button type="button" onclick="displayWIP()">Login</button>
  </form>

  <script>
    function displayWIP() {
      alert("WIP");
    }
  </script>



</body>
</html>